table,td,th{
    border-collapse: collapse;
    border: 1px solid blue;
    padding: 1em;
    text-align: center;
}
th{
    border: 4px solid darkmagenta ;
}
#punta{
    border: 1px solid black;
   
}
table{
    margin-bottom: 5em;
}