*{
    background-color: black;
    color: white;
}
h1{
    color: blue;
}
h2{
color: rgb(154, 22, 22);
}
nav li {
    float: left;
    position: relative;
   left: 25%;
   margin-right: 60px;
    top: 5px;
  list-style: none;
  background-color: darkblue;
  border: solid 1px blue;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
a{
    background-color: darkblue;
  height: 40px;
  width: 40px;
  text-decoration: none;
}
ul{
    background-color: blueviolet;
    position: relative;
    justify-content: center;
    height: 40px;
    
}
header img {
    height: 150px;
    width: 100%;
}
h1{
    position: relative;
   justify-content: center;
   text-align: center;
   border-bottom: solid white 2px;
   
}
footer{
    background-color: blueviolet;
    clear: left;
    position: relative;
   
}
footer p{
   margin-left: 40%;
    margin-right:30px ;
   position: relative;
   background-color: blueviolet;
   float:left;
}
footer a{
    background-color: blueviolet;
    
}
footer img{
    height: 40px;
    width: 40px;
    background-color: blueviolet;
}
