iframe{
    border-radius: 10px;
    width: 40%; 
    height: 30em;
    margin-bottom: 3em;
    
}
section{
    text-align: center;
}
section a{
    border-radius: 10px;
    background-color: blue;
    border: 2px solid white;
    padding: 15px;
    position: static;
}
    
   
    